@model List<Category>
@{
    ViewData["Title"] = "Categories";
}

<div class="text-center">
    <h1 class="display-4">Categories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.CreatedOn.ToString("dd.MM.yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
